<div class="main-container">
    <p>These proud citizens from {{city}}</p>
    {{#rows}}
        {{#if url}}
            <p>
                <a href="{{url}}">
                    {{first_name}} {{last_name}}
                </a> 
                {{#if age}}
                    ({{age}}) 
                {{/if}}
            </p>
        {{else}}
            <p>
                {{first_name}} {{last_name}} 
                {{#if age}}
                    ({{age}}) 
                {{/if}}
            </p>
        {{/if}}
    {{/rows}}
    <p>has stand against this ...</p>
</div>

<p>If you are already a member of this incredibly reactive community please <a href="/signers">log in</a>.</p>